data/raw/cic_ids_2017/full_dataset/*.csv filter=lfs diff=lfs merge=lfs -text
data/raw/cic-ids-2017/full_dataset/*.csv filter=lfs diff=lfs merge=lfs -text
data/models/cic_advanced/extra_trees_cic.joblib filter=lfs diff=lfs merge=lfs -text
data/models/cic_advanced/voting_classifier_cic.joblib filter=lfs diff=lfs merge=lfs -text
